
pgdata

# Created by https://www.toptal.com/developers/gitignore/api/node,react,flutter
# Edit at https://www.toptal.com/developers/gitignore?templates=node,react,flutter

### Flutter ###
# Flutter/Dart/Pub related
**/doc/api/
./client_mobile/dart_tool/
./client_mobile/flutter-plugins
./client_mobile/flutter-plugins-dependencies
./client_mobile/fvm/
./client_mobile/packages
./client_mobile/pub-cache/
./client_mobile/pub/
./client_mobile/build/
./client_mobile/coverage/
./client_mobile/lib/generated_plugin_registrant.dart
# For library packages, don’t commit the pubspec.lock file.
# Regenerating the pubspec.lock file lets you test your package against the latest compatible versions of its dependencies.
# See https://dart.dev/guides/libraries/private-files#pubspeclock
#pubspec.lock

# Android related
**/client_mobile/android/**/gradle-wrapper.jar
**/client_mobile/android/.gradle
**/client_mobile/android/captures/
**/client_mobile/android/gradlew
**/client_mobile/android/gradlew.bat
**/client_mobile/android/key.properties
**/client_mobile/android/local.properties
**/client_mobile/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/client_mobile/ios/**/*.mode1v3
**/client_mobile/ios/**/*.mode2v3
**/client_mobile/ios/**/*.moved-aside
**/client_mobile/ios/**/*.pbxuser
**/client_mobile/ios/**/*.perspectivev3
**/client_mobile/ios/**/*sync/
**/client_mobile/ios/**/.sconsign.dblite
**/client_mobile/ios/**/.tags*
**/client_mobile/ios/**/.vagrant/
**/client_mobile/ios/**/DerivedData/
**/client_mobile/ios/**/Icon?
**/client_mobile/ios/**/Pods/
**/client_mobile/ios/**/.symlinks/
**/client_mobile/ios/**/profile
**/client_mobile/ios/**/xcuserdata
**/client_mobile/ios/.generated/
**/client_mobile/ios/Flutter/.last_build_id
**/client_mobile/ios/Flutter/App.framework
**/client_mobile/ios/Flutter/Flutter.framework
**/client_mobile/ios/Flutter/Flutter.podspec
**/client_mobile/ios/Flutter/Generated.xcconfig
**/client_mobile/ios/Flutter/app.flx
**/client_mobile/ios/Flutter/app.zip
**/client_mobile/ios/Flutter/flutter_assets/
**/client_mobile/ios/Flutter/flutter_export_environment.sh
**/client_mobile/ios/ServiceDefinitions.json
**/client_mobile/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/client_mobile/ios/**/default.mode1v3
!**/client_mobile/ios/**/default.mode2v3
!**/client_mobile/ios/**/default.pbxuser
!**/client_mobile/ios/**/default.perspectivev3
!/client_mobile/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test
.env*.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

### react ###
.DS_*
**/*.backup.*
**/*.back.*

node_modules

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/node,react,flutter