@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.container {
    display: flex;
}

.item {
    flex-grow: 1;
    height: 100px;
    align-items: center;
}

.item + .item {
    margin-left: 20%;
}